@media (max-width: 768px) {

    body {
        padding-bottom: 53px;
    }

    header h1 {
        font-size: 3rem;
        line-height: 2;
    }

    .teste-container {
        padding: 5px;
    }

    .media-body, .teste-description-single {
        display: none;
    }

    .teste-title {
        bottom: 0;
    }

    .teste-title span {
        line-height: 1.56;
        font-size: 2rem;
        padding: 7px;
    }

    .btn-iniciar-teste {
        font-size: 1.46rem;
    }

    .result-share .btn {
        padding: 13px;
        margin-bottom: 9px;
    }

    .teste-single {
        height: auto;
        margin-bottom: 10px;
        position: relative;
        max-width: 100%;
        float: left;
        width: 100%;
    }

    .teste-single .caption {
        padding: 0;
    }

    .teste-single h3 {
        position: absolute;
        font-size: 1.2em;
        left: 0;
        bottom: 0px;
        color: white;
        width: 100%;
        font-weight: bold;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-bottom: 0;
    }

    .teste-single .btn-fazer-teste-single {
        width: 100%;
        padding: 10px;
    }

    .teste-info {
        margin-top: 10px;
    }

    .teste-info .btn-iniciar-teste {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        padding: 16px;
    }

    .teste-single .card-img-top {
        height: 140px;
    }

    .teste-single .caption .container-btn-fazer-teste {
        display: none;
    }

    .btn-result-facebook-top {
        display: block;
    }
}

@media (max-width: 768px) and (orientation: portrait) {

}

@media (max-width: 768px) and (orientation: landscape) {
    .teste-single-grid {
        width: 50% !important;
        max-width: 50%;
    }
    .teste-title span {
        font-size: 2.5rem;
    }
}